<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/Site.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/toastr.min.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/Airlines.js"></script>
    <script type="text/javascript" src="js/toastr.min.js"></script>
    <title>KHTN - Airline</title>
</head>

<body>
    <div ng-app="angularApp" ng-controller="airlineController">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" ng-click="showHome()" href="#">KHTN - Airline</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="showAirlines()" href="#">Chuyến bay</a></li>
                        <li><a ng-click="showSchedule()" href="#">Lịch bay</a></li>
                        <li><a ng-click="showReservations()" href="#">Đặt chỗ</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- div for home -->
        <div ng-show="divHome">
            <div style="margin-left: 10px;">
                <h2>Hệ thống đặt vé máy bay</h2>
                <h4>Trang chủ:
                </h4>
                <ul>
                    <li><b>Chuyến bay:</b> Thêm chuyến bay mới và xem danh sách chuyến bay.</li>
                    <li><b>Lịch trình bay:</b> Xem lịch bay và thêm lịch bay mới.</li>
                    <li><b>Đặt chỗ:</b> Xem tất cả các chuyến bay và đặt chỗ.</li>
                </ul>
            </div>
        </div>


        <!-- Div for showing airline details -->
        <div ng-show="divAirlines">
            <div class="row" style="width: 90%; margin-left: 5px;">
                <div class="col-md-4">
                    <div>
                        <h4>Thêm chuyến bay mới</h4>
                        <form>
                            <div class="form-group">
                                <label>Mã chuyến bay</label>
                                <input type="text" class="form-control" ng-model="inp_airCode" placeholder="Nhập mã chuyến bay" required>
                            </div>
                            <div class="form-group">
                                <label>Giá phổ thông</label>
                                <input type="number" class="form-control" ng-model="inp_airPE" placeholder="Nhập giá vé phổ thông" required>
                            </div>
                            <div class="form-group">
                                <label>Giá thương gia</label>
                                <input type="number" class="form-control" ng-model="inp_airPF" placeholder="Nhập giá vé thương gia" required>
                            </div>
                            <div class="form-group">
                                <label>Số ghế phổ thông</label>
                                <input type="number" class="form-control" ng-model="inp_airSE" placeholder="Nhập số ghế phổ thông" required>
                            </div>
                            <div class="form-group">
                                <label>Số ghế thương gia</label>
                                <input type="number" class="form-control" ng-model="inp_airSF" placeholder="Nhập số ghế thương gia" required>
                            </div>
                            <div class="form-group tableCenter">
                                <button class="btn btn-success" ng-click="AddAirline()">
                                    <!--<span class="glyphicon glyphicon-save"></span>-->
                                    Lưu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <!--<th>ID</th>-->
                            <th>Mã chuyến bay</th>
                            <th>Vé phổ thông</th>
                            <th>Vé thương gia</th>
                            <th>Số ghế phổ thông</th>
                            <th>Số ghế thương gia</th>
                        </tr>
                        <tr ng-repeat="x in dataAirlines">
                            <!--<td class="tableCenter">{{ x.AirplaneID }}</td>-->
                            <td>{{ x.AirplaneCode }}</td>
                            <td class="tableCenter">{{ x.Price_Economy }} VNĐ</td>
                            <td class="tableCenter">{{ x.Price_FirstClass }} VNĐ</td>
                            <td class="tableCenter">{{ x.Seats_Economy }}</td>
                            <td class="tableCenter">{{ x.Seats_FirstClass }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Div for showing ading new airline -->        
            <div class="row" style="width: 90%; margin-left: 5px;">
                <h4 style="margin-left: 20px;">Danh sách chuyến bay sẵn có</h4>
                <div class="col-md-8">
                    <div style="height:80vh; overflow-x:hidden; overflow-y:scroll;">
                        <table class="table table-striped table-hover" style="border-spacing: 0px 5px; border-collapse: separate;">
                            <tr ng-repeat="x in dataReservation" class="info">
                                <td>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-4"><b>Mã chuyến bay:</b> {{ x.AirplaneCode }}</div>
                                                <div class="col-md-4"><b>Nơi đi:</b> {{ x.Airport_Departure }}</div>
                                                <div class="col-md-4"><b>Nơi đến:</b> {{ x.Airport_Arrival}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6"><b>Thời gian đi:</b> {{ x.Time_Departure }}</div>
                                                <div class="col-md-6"><b>Thời gian đến:</b> {{ x.Time_Arrival }}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-success btn-block" type="submit" ng-click="showSeats(x.ScheduleID)" style="height: 80px; white-space: normal;">Reserve Seats</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-show="divSeats">
                        <form>
                            <div>
                                <h4>Thông tin đặt chỗ</h4>
                                <div class="form-group">
                                    <label>Họ tên</label>
                                    <input type="text" class="form-control" ng-model="inp_name" placeholder="Nhập họ tên" required>
                                </div>
                                <div class="form-group">
                                    <label>Tuổi</label>
                                    <input type="number" class="form-control" ng-model="inp_age" placeholder="Nhập tuổi" required>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" ng-model="inp_email" placeholder="Nhập địa chỉ email" required>
                                </div>
                                <div class="form-group">
                                    <label>Chọn ghế</label>

                                    <div style="padding: 0px 15px 10px 15px;">
                                        <!--                                        <div class="row seats">
                                            <div class="col-md-1">A</div>
                                            <div class="col-md-1">B</div>
                                            <div class="col-md-1">C</div>
                                            <div class="col-md-1">D</div>
                                            <div class="col-md-1">E</div>
                                            <div class="col-md-1">F</div>
                                            <div class="col-md-1">G</div>
                                            <div class="col-md-1">H</div>
                                            <div class="col-md-1">I</div>
                                            <div class="col-md-1">J</div>
                                            <div class="col-md-1">K</div>
                                            <div class="col-md-1">L</div>
                                        </div>-->
                                        <div class="row seats">
                                            <div ng-repeat="x in dataSeats | orderBy : 'SeatID' : true" class="col-md-2"
                                                ng-class="{green: x.CurrentStatus == 0, red: x.CurrentStatus != 0, yellow: x.SeatID==SeatSelected}"
                                                ng-click="SelectThisSeat(x.SeatID,x.CurrentStatus)">
                                                {{($index+1) + "-" + x.SeatType}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-block" ng-click="ReserveSeat()">Đặt chỗ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</body>
</html>
